<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock News Sentiment</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <style>
        button {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Stock News Sentiment</h1>
    <form hx-post="/headlines" hx-target="#headlines" hx-indicator="#loading">
        <input id="ticker" name="ticker" type="text" placeholder="Ticker Symbol" />
        <button type="submit">Submit</button>
    </form>
    <div id="headlines"></div>
    <div id="loading" class="htmx-indicator"><span>Loading...</span></div>
</body>

</html>